/* Dialog
----------------------------------*/
.ui-dialog {
    position: relative;
    width: 300px;
    overflow: visible !important;
}
.ui-dialog-titlebar {
    display: none;
}
.ui-dialog-title { float: left; margin: .1em 0 .2em; } 
.ui-dialog-titlebar-close { position: absolute; right: .3em; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
.ui-dialog-titlebar-close span { display: block; margin: 1px; }
.ui-dialog-titlebar-close:hover, .ui-dialog-titlebar-close:focus { padding: 0; }
.ui-dialog-content { border: 0; background: none; overflow: visible; font-size: 80%;}
.ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; }
.ui-dialog-buttonpane button:hover {
background-color:#666 !important;
}
.ui-dialog-buttonpane button {
    float: right;
    cursor: pointer;
    width:auto;
-moz-border-radius-bottomleft:1em;
-moz-border-radius-bottomright:1em;
-moz-border-radius-topleft:1em;
-moz-border-radius-topright:1em;
background-color:#AAA !important;
border-style:none;
color:white !important;
cursor:pointer;
font-size:0.9em;
line-height:1.8em;
margin-right:10px;
padding:1px 20px;
}
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }