/* Tabs
----------------------------------*/
.ui-tabs {
}
.ui-tabs-panel {
}
.ui-tabs-nav {
    top: -17px;
    position: absolute;
}
.ui-tabs-nav li {
    display: inline;
    padding: 0.1em 0.5em;
    -moz-border-radius-topleft:0.2em;
    -moz-border-radius-topright:0.2em;
}
.ui-tabs-nav li a {
    text-decoration: none;
    padding: .5em 1em;
}
.ui-tabs-nav li.ui-tabs-selected {  padding-bottom: 0.2em; border-bottom: 0; }
.ui-tabs-panel { padding: 1em 1.4em;  display: block; border: 0; background: none; }
.ui-tabs-hide { display: none !important; }