.deco-row {
    width: 100%;
    min-height: 100px;
    margin-bottom: 1em;
}

.deco-editing {
    margin: -0.5em;
    padding: 0.5em 0.5em 0 0.5em;
}

.deco-editing .deco-column {
    box-shadow: 0px 0px 2pt 1pt #ccc;
    -webkit-box-shadow: 0px 0px 2pt 1pt #ccc;
    -moz-box-shadow: 0px 0px 2pt 1pt #ccc;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

.deco-editing .deco-tile:hover {
    outline: 1px dotted #ccc;
}

.deco-column-drag {
    position: absolute;
    cursor: ew-resize;
    width: 2.127659574468085%;
}

.deco-column-drop {
    position: absolute;
    width: 0px;
    z-index: 900;
    /* outline: 3px dashed blue; */
}

.deco-row-drop {
    position: absolute;
    height: 0px;
    z-index: 900;
    /* outline: 3px dashed blue; */
}

.deco-delete {
    z-index: 901;
    padding: 12px;
    text-align: center;
    font-weight: bold;
    height: 100%;
}

.deco-column-empty{
    background-color: #E4E3E5;
}

.deco-editing .deco-predelete{
    opacity: 0.8;
    box-shadow: 0px 0px 1px 3px red;
    -webkit-box-shadow: 0px 0px 1px 3px red;
    -moz-box-shadow: 0px 0px 1px 3px red;
}


/* The following is based on the Bootstrap grid. */
 
.deco-row {
  *zoom: 1;
}
.deco-row:before,
.deco-row:after {
  display: table;
  content: "";
  line-height: 0;
}
.deco-row:after {
  clear: both;
}
[class*="deco-span"] {
  float: left;
  min-height: 1px;
  margin-left: 20px;
}
.deco-row-fluid {
  width: 100%;
  *zoom: 1;
}
.deco-row-fluid:before,
.deco-row-fluid:after {
  display: table;
  content: "";
  line-height: 0;
}
.deco-row-fluid:after {
  clear: both;
}
.deco-row-fluid [class*="span"] {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 2.127659574468085%;
  *margin-left: 2.074468085106383%;
}
.deco-row-fluid [class*="span"]:first-child {
  margin-left: 0;
}
.deco-row-fluid .deco-span12 {
  width: 100%;
  *width: 99.94680851063829%;
}
.deco-row-fluid .deco-span11 {
  width: 91.48936170212765%;
  *width: 91.43617021276594%;
}
.deco-row-fluid .deco-span10 {
  width: 82.97872340425532%;
  *width: 82.92553191489361%;
}
.deco-row-fluid .deco-span9 {
  width: 74.46808510638297%;
  *width: 74.41489361702126%;
}
.deco-row-fluid .deco-span8 {
  width: 65.95744680851064%;
  *width: 65.90425531914893%;
}
.deco-row-fluid .deco-span7 {
  width: 57.44680851063829%;
  *width: 57.39361702127659%;
}
.deco-row-fluid .deco-span6 {
  width: 48.93617021276595%;
  *width: 48.88297872340425%;
}
.deco-row-fluid .deco-span5 {
  width: 40.42553191489362%;
  *width: 40.37234042553192%;
}
.deco-row-fluid .deco-span4 {
  width: 31.914893617021278%;
  *width: 31.861702127659576%;
}
.deco-row-fluid .deco-span3 {
  width: 23.404255319148934%;
  *width: 23.351063829787233%;
}
.deco-row-fluid .deco-span2 {
  width: 14.893617021276595%;
  *width: 14.840425531914894%;
}
.deco-row-fluid .deco-span1 {
  width: 6.382978723404255%;
  *width: 6.329787234042553%;
}
.deco-row-fluid .deco-offset12 {
  margin-left: 104.25531914893617%;
  *margin-left: 104.14893617021275%;
}
.deco-row-fluid .deco-offset12:first-child {
  margin-left: 102.12765957446808%;
  *margin-left: 102.02127659574467%;
}
.deco-row-fluid .deco-offset11 {
  margin-left: 95.74468085106382%;
  *margin-left: 95.6382978723404%;
}
.deco-row-fluid .deco-offset11:first-child {
  margin-left: 93.61702127659574%;
  *margin-left: 93.51063829787232%;
}
.deco-row-fluid .deco-offset10 {
  margin-left: 87.23404255319149%;
  *margin-left: 87.12765957446807%;
}
.deco-row-fluid .deco-offset10:first-child {
  margin-left: 85.1063829787234%;
  *margin-left: 84.99999999999999%;
}
.deco-row-fluid .deco-offset9 {
  margin-left: 78.72340425531914%;
  *margin-left: 78.61702127659572%;
}
.deco-row-fluid .deco-offset9:first-child {
  margin-left: 76.59574468085106%;
  *margin-left: 76.48936170212764%;
}
.deco-row-fluid .deco-offset8 {
  margin-left: 70.2127659574468%;
  *margin-left: 70.10638297872339%;
}
.deco-row-fluid .deco-offset8:first-child {
  margin-left: 68.08510638297872%;
  *margin-left: 67.9787234042553%;
}
.deco-row-fluid .deco-offset7 {
  margin-left: 61.70212765957446%;
  *margin-left: 61.59574468085106%;
}
.deco-row-fluid .deco-offset7:first-child {
  margin-left: 59.574468085106375%;
  *margin-left: 59.46808510638297%;
}
.deco-row-fluid .deco-offset6 {
  margin-left: 53.191489361702125%;
  *margin-left: 53.085106382978715%;
}
.deco-row-fluid .deco-offset6:first-child {
  margin-left: 51.063829787234035%;
  *margin-left: 50.95744680851063%;
}
.deco-row-fluid .deco-offset5 {
  margin-left: 44.68085106382979%;
  *margin-left: 44.57446808510638%;
}
.deco-row-fluid .deco-offset5:first-child {
  margin-left: 42.5531914893617%;
  *margin-left: 42.4468085106383%;
}
.deco-row-fluid .deco-offset4 {
  margin-left: 36.170212765957444%;
  *margin-left: 36.06382978723405%;
}
.deco-row-fluid .deco-offset4:first-child {
  margin-left: 34.04255319148936%;
  *margin-left: 33.93617021276596%;
}
.deco-row-fluid .deco-offset3 {
  margin-left: 27.659574468085104%;
  *margin-left: 27.5531914893617%;
}
.deco-row-fluid .deco-offset3:first-child {
  margin-left: 25.53191489361702%;
  *margin-left: 25.425531914893618%;
}
.deco-row-fluid .deco-offset2 {
  margin-left: 19.148936170212764%;
  *margin-left: 19.04255319148936%;
}
.deco-row-fluid .deco-offset2:first-child {
  margin-left: 17.02127659574468%;
  *margin-left: 16.914893617021278%;
}
.deco-row-fluid .deco-offset1 {
  margin-left: 10.638297872340425%;
  *margin-left: 10.53191489361702%;
}
.deco-row-fluid .deco-offset1:first-child {
  margin-left: 8.51063829787234%;
  *margin-left: 8.404255319148938%;
}
[class*="deco-span"].hide,
.deco-row-fluid [class*="deco-span"].hide {
  display: none;
}
[class*="deco-span"].pull-right,
.deco-row-fluid [class*="deco-span"].pull-right {
  float: right;
}
