
#deco-toolbar {
  height: 62px;
  padding: 1em;
  background: #EEEEEE;
  border-color: #D5D5D5;
  border-radius: 0 0 0 0;
  border-width: 0 0 1px;
  box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 5px rgba(0, 0, 0, 0.1);

}
#deco-toolbar > ul {
  margin: 0;
}

#deco-toolbar > ul > li > a.btn {
  margin: 1em 0.5em;
}
#deco-toolbar-save:hover {
  background: #0055CC;
}
#deco-toolbar-cancel:hover {
  background: #FFFFFF;
}

#deco-toolbar .field > label,
#deco-toolbar .formControls {
  display: none;    
}

#deco-toolbar .plone-tiletype {
  border: 1px solid #CCCCCC;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  cursor: -moz-grab;
  height: 40px;
  width: 40px;
  margin: 0.5em;
}
#deco-toolbar .plone-tiletype > * {
  display: none;
}
