
#deco-toolbar {
  height: 62px;
  padding: 1em;
  background: #EEEEEE;
  border-color: #D5D5D5;
  border-radius: 0 0 0 0;
  border-width: 0 0 1px;
  box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 5px rgba(0, 0, 0, 0.1);

}
#deco-toolbar > ul {
  margin: 0;
}

#deco-toolbar > ul > li > a.btn {
  margin: 1em 0.5em;
}
#deco-toolbar-save:hover {
  background: #0055CC;
}
#deco-toolbar-cancel:hover {
  background: #FFFFFF;
}

#deco-toolbar .field > label,
#deco-toolbar .formControls {
  display: none;    
}

#deco-toolbar .deco-toolbar-btn {
  border: 1px solid #CCCCCC;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  cursor: -moz-grab;
  height: 40px;
  width: 40px;
  margin: 0.5em;
}

#deco-toolbar .deco-toolbar-btn:hover{
  cursor: move;
}

#deco-toolbar .deco-toolbar-btn > * {
  display: none;
}

#plone-deco-addrow{
  background: url(++resource++plone.app.deco/src/add-row.png) 50% 50% no-repeat scroll white;
}

#plone-deco-addcolumn{
  background: url(++resource++plone.app.deco/src/add-col.png) 50% 50% no-repeat scroll white;
}

#deco-toolbar ul#deco-layout-buttons{
  border-right: 2px solid #B1B0B2;
  margin-right: 10px;
  padding-right: 10px;
}