/* @group Tile */

.deco-panel {
    position: relative;
}

/* Outer border */
.deco-tile-outer-border {
    position: absolute;
    border: solid 2px transparent;
    width: auto;
    height: auto;
    z-index: 40;
    right: -2px;
    left: -2px;
    top: -2px;
    bottom: -2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

/* Inner border */
.deco-tile-inner-border {
    position: absolute;
    border: solid 1px transparent;
    width: auto;
    height: auto;
    z-index: 40;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
}

/* Border on mouse over */
.deco-tile:hover .deco-tile-outer-border {
    border: dashed 2px #3469d0;
}

/* Hide hover border when dragging or resizing*/
.deco-panel-dragging .deco-tile:hover .deco-tile-outer-border {
    border: solid 2px transparent;
}

.deco-panel-resizing .deco-tile:hover .deco-tile-outer-border {
    border: solid 2px transparent;
}

.deco-panel-resizing .deco-selected-tile.deco-tile .deco-tile-outer-border {
    border: solid 2px transparent;
    background-color: transparent;
}

.deco-panel-resizing .deco-selected-tile.deco-tile:hover .deco-tile-outer-border {
    border: solid 2px transparent;
    background-color: transparent;
}

.deco-panel-resizing .deco-selected-tile.deco-tile .deco-tile-control {
    display: none !important;
}

/* Selected tile */
.deco-selected-tile .deco-tile-outer-border {
    border: 2px solid #3469d0;
    background-color: #FFFFE1;
}

.deco-selected-tile.deco-read-only-tile .deco-tile-outer-border {
    border: 2px solid #3469d0;
    background-color: #F0F0EE;
}

.deco-selected-tile.deco-read-only-tile:hover .deco-tile-outer-border {
    border: 2px solid #3469d0;
    background-color: #F0F0EE;
}

/* Selected tile hover */
.deco-selected-tile:hover .deco-tile-outer-border {
    border: 2px solid #3469d0;
    background-color: #FFFFE1;
}

/* Other tiles while dragging */
.deco-panel-dragging .deco-tile .deco-tile-inner-border {
    border: 1px dotted #888;
}

/* Hide inner border of helper while dragging */
.deco-panel-dragging .deco-helper-tile .deco-tile-inner-border {
    border: 1px transparent;
}

.deco-panel-dragging-new {
    cursor: crosshair !important;
}

.deco-panel-dragging-new:hover {
    cursor: crosshair !important;
}

/* Rich text */
.deco-rich-text-textarea {
    width: 100%;
    border: 0;
}

/* Helper border */
.deco-tile.deco-helper-tile {
    border: 2px solid #3469d0;
    z-index: 1000;
    opacity: 0.5;
    position: absolute;
}

.deco-empty-row .deco-tile-outer-border {
    background-image: url(++resource++plone.app.deco.images/divider_horizontal.png);
    background-position: 0px -12px;
    border: 0px;
    height: 12px;
    width: auto;
    left: -5px;
    right: 0px;
}

.deco-empty-row .deco-tile-outer-border .deco-divider-dot {
    background-image: url(++resource++plone.app.deco.images/divider_horizontal.png);
    width: 12px;
    height: 12px;
}

.deco-tile {
    position: relative;
    z-index: 100;
}

.deco-tile .deco-tile-content {
    position: relative;
    z-index: 100;
}

.deco-tile-content textarea, .deco-tile-content input[type=text] {
    width: 100%;
}

.deco-tile-align-left {
    float: left;
    z-index: 200;
}

.deco-tile-align-right {
    float: right;
    z-index: 200;
}

.deco-panel-dragging .deco-tile-align-left {
    z-index: 50;
}

.deco-panel-dragging .deco-tile-align-right {
    z-index: 50;
}

.deco-original-tile {
    opacity: 0.5;
}

/* Empty row */
.deco-empty-row {
    height: 12px;
}

.deco-empty-row .deco-grid-cell {
    height: 12px;
    display: none;
}

.deco-empty-row .deco-grid-cell > div {
    position: relative;
    height: 12px;
}

/* @end */

/* @group Hover icons */

.deco-tile-control {
    position: absolute;
    width: 16px;
    height: 16px;
    z-index: 500;
    display: none;
}

.deco-drag-handle {
    background-image: none;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    top: 0px;
    bottom: 0px;
    height: auto;
    width: auto;
    left: 0px;
    right: 0px;
    cursor: move;
}

.deco-selected-tile .deco-drag-handle {
    z-index: 1;
}

.deco-close-icon {
    left: -18px;
    top: -18px;
    width: 30px;
    height: 30px;
    background-image: url(++resource++plone.app.deco.images/window.png);
    background-position: -12px 0px;
    cursor: pointer;
    z-index: 501;
}

.deco-info-icon {
    right: 0px;
    top: auto;
    bottom: 0px;
    background-image: url(++resource++plone.app.deco.images/window.png);
    background-position: -12px -56px;
    cursor: pointer;
}

.deco-tile:hover .deco-field-label {
    display: block !important;
}

.deco-field-label {
    top: -2px;
    left: -152px;
    width: 150px;
    color: white;
    height: 24px;
    text-align: right;
}

.deco-field-label-left {
    float: right;
    width: 6px;
    height: 24px;
    background-image: url(++resource++plone.app.deco.images/label.png);
    background-position: 0px -84px;
}

.deco-field-label-content {
    height: 24px;
    font-size: 80%;
    font-weight: bold;
    line-height: 24px;
    background-image: url(++resource++plone.app.deco.images/label.png);
    background-position: 0px -108px;
    float: right;
    position: relative;
    padding-left: 8px;
    padding-right: 8px;
}

.deco-info-icon:hover {
    background-position: -28px -56px;
}

.deco-tile:hover .deco-tile-control {
    display: none;
}

.deco-selected-tile .deco-tile-control {
    display: block !important;
}

/* Show move icon while hovering over a tile */
.deco-tile:hover .deco-drag-handle {
    display: block;
}

/* Hide icons while dragging or resizing*/
.deco-panel-dragging .deco-tile:hover .deco-tile-control {
    display: none;
}

.deco-panel-resizing .deco-tile:hover .deco-tile-control {
    display: none;
}

/* Show move icon on helper */
.deco-helper-tile .deco-drag-handle {
    display: block !important;
}

/* Images will never be bigger then a tile */
.deco-panel img {
    max-width: 100%;
}

.deco-tile-uploadprogress {
    background: rgba(0,0,0,0.6) url(++resource++plone.app.deco.images/loading.gif) no-repeat center;
    position: absolute;
    z-index: 501;
    width: auto;
    height: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

/* @end */

/* @group Resize */

.deco-panel-dragging .deco-resize-handle {
    display: none;
}

.deco-panel-resizing .deco-resize-handle-one:hover {
    display: none;
}

.deco-panel-resizing .deco-resize-handle-two:hover {
    display: none;
}

.deco-panel-resizing {
    cursor: ew-resize;
}

.deco-row-resizing .deco-tile {
    opacity: 0.5 !important;
}

.deco-resize-handle {
    position: absolute;
    height: auto;
    top: 0px;
    bottom: 0px;
    width: 12px;
    left: -6px;
    z-index: 500;
    cursor: ew-resize;
}

.deco-resize-handle:hover {
    background-image: url(++resource++plone.app.deco.images/window.png);
}

.deco-resize-handle-left:hover {
    background-position: -40px 0px;
}

.deco-resize-handle-center:hover {
    background-position: -45px 0px;
}

.deco-resize-handle-right:hover {
    background-position: -50px 0px;
}

.deco-resize-handle.deco-resize-handle-helper {
    background-image: url(++resource++plone.app.deco.images/window.png);
    background-position: 0px 0px;
}

.deco-resize-placeholder {
    position: absolute;
    height: 100%;
}

.deco-resize-placeholder-inner-border {
    position: absolute;
    border: dotted 1px #888;
    width: auto;
    height: auto;
    z-index: 40;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
}

.deco-resize-leftmost {
    margin-left: 0%;
}

.deco-resize-third {
    margin-left: 33.33%;
}

.deco-resize-two-thirds {
    margin-left: 66.67%;
}

.deco-resize-quarter {
    margin-left: 25%;
}

.deco-resize-half {
    margin-left: 50%;
}

.deco-resize-three-quarters {
    margin-left: 75%;
}

/* @end */

/* @group Dividers */

.deco-divider {
    position: absolute;
    z-index: 600;
    display: none;
}

.deco-divider-top {
    width: auto;
    height: 12px;
    top: -6px;
    left: -5px;
    right: 0px;
    background-image: url(++resource++plone.app.deco.images/divider_horizontal.png);
    background-position: 0px -12px;
}

.deco-divider-bottom {
    width: auto;
    height: 12px;
    left: -5px;
    right: 0px;
    top: auto;
    bottom: -6px;
    background-image: url(++resource++plone.app.deco.images/divider_horizontal.png);
    background-position: 0px -12px;
}

.deco-divider-right {
    width: 12px;
    height: auto;
    left: auto;
    right: -6px;
    top: -5px;
    bottom: 0px;
    background-image: url(++resource++plone.app.deco.images/divider_vertical.png);
    background-position: -12px 0px;
}

.deco-divider-left {
    width: 12px;
    height: auto;
    left: -6px;
    top: -5px;
    bottom: 0px;
    background-image: url(++resource++plone.app.deco.images/divider_vertical.png);
    background-position: -12px 0px;
}

.deco-divider-left .deco-divider-dot, .deco-divider-right .deco-divider-dot {
    background-image: url(++resource++plone.app.deco.images/divider_vertical.png);
    width: 12px;
    height: 12px;
}

.deco-divider-top .deco-divider-dot, .deco-divider-bottom .deco-divider-dot {
    background-image: url(++resource++plone.app.deco.images/divider_horizontal.png);
    width: 12px;
    height: 12px;
}

.deco-selected-divider {
    display: block !important;
}

/* @end */

/* Overlay window */

.deco-overlay-blocker {
    z-index: 2999;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-color: black;
    display: none;
    top: 0px;
    left: 0px;
    position: fixed;
    _position: absolute;
    _top: expression(eval((document.body.scrollTop)?document.body.scrollTop:document.documentElement.scrollTop));
}

.deco-overlay {
    display: block;
    top: 99px;
    position: fixed;
    _position: absolute;
    _top: expression(eval((document.body.scrollTop)?document.body.scrollTop:document.documentElement.scrollTop));
    z-index: 9999;  /* must be above jQT expose mask */
    padding: 1em;
    background-color: white;
}

.deco-hidden {
    display: none !important;
}

/* @end */

/* @group Grid */

/* Grid classes, these can also be nested */
.deco-grid-row {
  float: left;
  width: 100%;
  display: block;
  position: relative;
}
.deco-grid-cell {
  position: relative;
  float: left;
  left: 100%;
}

/* Widths, these are abstracted out so that pixel-based layouts or other
   similar approaches can be retrofitted without changing the markup,
   or if you want to apply rules like the Golden Ratio to your layouts */
.deco-width-full {
    width: 100%;
}
.deco-width-half {
    width: 50%;
}
.deco-width-quarter {
    width: 25%;
}
.deco-width-three-quarters {
    width: 75%;
}
.deco-width-third {
    width: 33.33%;
}
.deco-width-two-thirds {
    width: 66.67%;
}

/* Positioning classes, these are subtracting from a rightmost position */
.deco-position-leftmost {
    margin-left: -100%;
}
.deco-position-third {
    margin-left: -66.67%;
}
.deco-position-two-thirds {
    margin-left: -33.33%;
}
.deco-position-quarter {
    margin-left: -75%;
}
.deco-position-half {
    margin-left: -50%;
}
.deco-position-three-quarters {
    margin-left: -25%;
}

/* @end */

