/* @group Toolbar */

.deco-toolbar {
    position: fixed;
    top: 40px;
    width: 100%;
    z-index: 10000000;
}

.deco-toolbar-content {
    background: #2c6596;
    background-image: -moz-linear-gradient(top, #2c6596, #3272aa);
    background-image: -ms-linear-gradient(top, #2c6596, #3272aa);
    background-image: -o-linear-gradient(top, #2c6596, #3272aa);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2c6596), to(#3272aa));
    background-image: -webkit-linear-gradient(top, #2c6596, #3272aa);
    background-image: linear-gradient(top, #2c6596, #3272aa);
    border-top: 1px solid #387fbe;
    border-bottom: 1px solid #1b3d5b;
    height: 36px;
    z-index: 800;
    position: relative;
    padding: 16px;
}
.deco-toolbar fieldset {
    margin: 0;
    padding: 0;
    border: 0px;
}

.deco-inline-toolbar {
    position: relative;
}

.deco-toolbar-primary-functions {
    float:left;
}

.deco-toolbar-secondary-functions {
    float:right;
}

.deco-toolbar select,
.deco-toolbar button {
    float: left;
}

.deco-toolbar button,
.deco-toolbar label.deco-icon {
}

deco-toolbar button, x:-moz-any-link, X:default {
}

.deco-toolbar button.deco-icon,
.deco-toolbar label.deco-icon {
}

.deco-toolbar button:hover,
.deco-toolbar label.deco-icon:hover {
}

.deco-toolbar select:hover,
.deco-toolbar button.active,
.deco-toolbar label.deco-icon.active {
}

.deco-toolbar select {
}

/* @group Button Group */

.deco-toolbar .deco-button-group {
    float: left;
}

.deco-toolbar .deco-button-group button,
.deco-toolbar .deco-button-group label.deco-icon {
}

.deco-toolbar .deco-button-group > :first-child {
}

.deco-toolbar .deco-button-group > :last-child {
}

.deco-toolbar button.deco-first-half,
.deco-toolbar label.deco-first-half {
}

.deco-toolbar button.deco-last-half,
.deco-toolbar label.deco-last-half {
}

/* @end */

/* @group Selects */

.deco-toolbar label.deco-icon {
}

.deco-toolbar .deco-icon select {
}

/* @end */

.deco-hidden {
    display: none !important;
}
