
.toolbar-category-deco-leftactions,
.toolbar-category-deco-rightactions,
.toolbar-deco .toolbar-category-leftactions,
.toolbar-deco .toolbar-category-rightactions {
    display: none;
}

.toolbar-category-deco-rightactions {
    float: right;
    padding: 0 30px 0 0;
    margin: 0;
}

.toolbar-category-deco-leftactions {
    margin: 0;
}

.toolbar-deco .toolbar-category-deco-leftactions,
.toolbar-deco .toolbar-category-deco-rightactions {
    display: block;
}

.toolbar-deco .toolbar-swirl div {
    background: #f2f2f2;
}

.toolbar-deco .toolbar-left {
    background: #f2f2f2;
    border-bottom: solid 1px #e5e5e5;
}


.toolbar-deco .toolbar-left > ul > .toolbar-button > a {
    -moz-transition: all 0.1s linear 0s;
    background-repeat: no-repeat;
    background-color: #E6E6E6;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF), color-stop(25%, #FFFFFF), to(#E6E6E6));
    background-image: linear-gradient(center top , #FFFFFF, #FFFFFF 25%, #E6E6E6);
    background-image: -moz-linear-gradient(center top , #FFFFFF, #FFFFFF 25%, #E6E6E6);
    background-image: -webkit-linear-gradient(center top , #FFFFFF, #FFFFFF 25%, #E6E6E6);
    border-color: #CCCCCC #CCCCCC #BBBBBB;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    border: 1px solid #AAAAAA;
}

.toolbar-deco .toolbar-left > ul > .toolbar-button.activated > a {
    color: #000000;
    background: #FFFFFF;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
    border-bottom: 0;
}

.toolbar-category-deco-rightactions .toolbar-submenu {
    right: 4px;
    border-radius: 4px 0px 4px 4px;
    -moz-border-radius: 4px 0px 4px 4px;
    -webkit-border-radius: 4px 0px 4px 4px;
    border: 1px solid #AAAAAA;
}

.toolbar-category-deco-rightactions .toolbar-submenu h3 {
    margin: 0 0.3em;
}
